﻿@using Chat.Web.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="d-flex h-100 justify-content-center align-items-center">
    <div class="login-container">
        <img class="profile-avatar" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <form asp-action="Login" asp-controller="Account" method="post" asp-route-returnUrl="@ViewBag.ReturnUrl">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-check">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <input type="submit" value="Sign in" class="btn btn-sign-in" />
        </form>

        @Html.ActionLink("Don't have an Account?", "Register", "Account", new { @class = "btn btn-link px-0" })
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery-3.5.1.js"></script>
}