﻿@using Chat.Web.Models
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="d-flex h-100 justify-content-center align-items-center">
    <div class="register-container">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DisplayName)
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", @placeholder = "Display Name" })
                @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <p>Select your Avatar</p>
                <label>
                    @Html.RadioButtonFor(m => m.Avatar, "0", new { @checked = true })
                    <img class="avatar-icon" src="~/icons/avatar1.png" alt="" />
                </label>
                <label>
                    @Html.RadioButtonFor(m => m.Avatar, "1")
                    <img class="avatar-icon" src="~/icons/avatar2.png" alt="" />
                </label>
                <label>
                    @Html.RadioButtonFor(m => m.Avatar, "2")
                    <img class="avatar-icon" src="~/icons/avatar3.png" alt="" />
                </label>
                <label>
                    @Html.RadioButtonFor(m => m.Avatar, "3")
                    <img class="avatar-icon" src="~/icons/avatar4.png" alts="" />
                </label>
            </div>
            <input type="submit" class="btn btn-sign-up" value="Register" />
        }

        @Html.ActionLink("Already have an Account?", "Login", "Account", new { @class = "btn btn-link px-0" })
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
