﻿@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/knockout-3.4.2.js"></script>
    <script src="~/js/modernizr-2.6.2.js"></script>
    <script src="~/js/MyChat.js"></script>
    <script src="~/js/MyScript.js"></script>
}

<div class="alert alert-warning alert-dismissible hidden" id="errorAlert" role="alert">
    <span data-bind="text:serverInfoMessage"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="app d-flex justify-content-between bg-white h-100">
    <div class="left-sidebar">
        <div class="header d-flex justify-content-between align-items-center">
            <h5>Chat Rooms</h5>
            <a href="#" id="create-room" data-toggle="modal" data-target="#create-room-modal"><i class="fas fa-plus"></i></a>
        </div>
        <div class="rooms">
            <ul id="room-list" data-bind="foreach: chatRooms">
                <li><a href="#" data-bind="text: $data.name, clickLink: joinRoom, css: { active: $root.joinedRoom() == $data.name()}"></a></li>
            </ul>
        </div>
        <div class="user d-flex align-items-center">
            <img class="user-avatar" src="~/icons/avatar1.png" data-bind="attr: { src: myAvatar() }" />
            <a href="#" class="user-name" data-bind="text: myName"></a>
            <div class="user-signout ml-auto">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" title="Sign Out"><i class="fas fa-sign-out-alt"></i></a>
                }
            </div>
        </div>
    </div>
    <div class="main-content" data-bind="visible: joinedRoom().length == 0">
        <span class="m-auto">
            Please select room to join!
        </span>
    </div>
    <div class="main-content" data-bind="visible: joinedRoom().length > 0">
        <div class="chat-header d-flex justify-content-between align-items-center">
            <h5 id="joinedRoom" data-bind="text: joinedRoom()">Lobby</h5>
            <button data-toggle="modal" data-target="#remove-room-modal" class="btnDeleteRoom">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="chat-body better-scrollbar">
            <ul data-bind="foreach: chatMessages">
                <li>
                    <div class="chat-message d-flex" data-bind="css: $data.isMine() === true ? 'ismine' : 'isother'">
                        <div class="left-side">
                            <img src="~/icons/avatar1.png" class="message-avatar" data-bind="attr: { src: $data.avatar }" />
                        </div>
                        <div class="message-content d-flex flex-column">
                            <div class="d-flex justify-content-between">
                                <span class="author" data-bind="text:$data.from"></span>
                                <span class="timestamp">
                                    <i class="glyphicon glyphicon-time"></i>
                                    <span data-bind="text:$data.timestamp"></span>
                                </span>
                            </div>
                            <span class="content" data-bind="html:$data.content"></span>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        <div class="chat-input d-flex justify-content-between align-items-center">
            <input id="chat-message" type="text" value="" data-bind="value:message, valueUpdate: 'afterkeydown', event: { keypress: onEnter }" placeholder="What's on your mind?" />
            <div class="actions d-flex align-items-center">
                <label for="btnUpload" class="custom-file-upload">
                    <i class="far fa-image"></i>
                </label>
                <input type="file" id="btnUpload" accept="image/*" name="files" data-bind="event: {change: uploadFiles}" />
                <a id="emojibtn" href="#">
                    <i class="far fa-smile"></i>
                </a>
                <i class="fas fa-paper-plane" id="btn-send-message" data-bind="click: sendNewMessage"></i>
            </div>
            <div class="emoticon-container hidden" id="emojis-container">
                <a href="#">
                    <input type="hidden" value=":)" />
                    <img src="~/emojis/emoji1.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":P" />
                    <img src="~/emojis/emoji2.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":O" />
                    <img src="~/emojis/emoji3.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":-)" />
                    <img src="~/emojis/emoji4.png" />
                </a>
                <a href="#">
                    <input type="hidden" value="B|" />
                    <img src="~/emojis/emoji5.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":D" />
                    <img src="~/emojis/emoji6.png" />
                </a>
                <a href="#">
                    <input type="hidden" value="<3" />
                    <img src="~/emojis/emoji7.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        <div class="header">
            <h5>Who's Here (<span data-bind="text: filteredChatUsers().length">0</span>)</h5>
        </div>
        <div class="chat-users better-scrollbar">
            <ul id="user-list" data-bind="foreach: filteredChatUsers">
                <li>
                    <div class="user-inner d-flex align-items-center">
                        <div class="left-side">
                            <img src="~/icons/avatar1.png" data-bind="attr: { src:$data.avatar }" class="user-avatar" />
                        </div>
                        <div class="right-side d-flex flex-column">
                            <input type="hidden" class="username" data-bind="value:$data.userName" />
                            <span class="author" data-bind="text: $data.displayName"></span>
                            <small data-bind="text: $data.device"></small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="search-user">
            <input type="text" class="" placeholder="Search someone..." data-bind="value: filter, valueUpdate: 'afterkeydown'" />
        </div>
    </div>
</div>

<div class="modal" id="create-room-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="roomName" placeholder="Room name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: createRoom">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="remove-room-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Chat Room?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-bind="click: deleteRoom">Delete</button>
            </div>
        </div>
    </div>
</div>