﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SignalR Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
